<html>
<head>
   <style>
       
       .metin{
           float:left;
           list-style:none;
           margin:10px;
       }
       .metin li{
           float:left;
           margin:20px;
       }
   </style>
</head>
<body>
    <ul class="metin">
        <li><a asp-action="AddUser">Add User</a></li>

        <li><a asp-action="DeleteUser">Delete User</a></li>

        <li><a asp-action="UpdateUser">Update User</a></li>

        <li><a asp-action="AddPartner">Add Partner</a></li>

        <li><a asp-action="DeletePartner">Delete Partner</a></li>

        <li><a asp-action="UpdatePartner">Update Partner</a></li>

    </ul>

</body>

</html>

