
<html>
<head>

</head>
<body>
    <center>
        <input type="text" value="Username" />
        <input type="text" value="password" />
        <button> Login</button>
    </center>
</body>
</html>