
@{
    ViewData["Title"] = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div style="text-align:center;"><img src="~/check-mark-297738_960_720.png" width="500" height="400" /><br /></div>
<h2 style="text-align:center;">Your order has been successfully received!</h2>

