@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<h1>You are welcome!</h1>
<br />
<pre style="font-size:22px;">You can access to Products,Orders,Admin Panel using menu.

In Orders tab,you can see all product which you was give an order and you can 
finish your order.

In Products tab,you can see all product information which you can give an order.

In Customers tab,you can see all partner of TEMSA.

In Admin Panel tab,you can access to Add User,Delete User,Update User,
Add Partner,Delete Partner,Update Partner page and with these page, 
you can manage your system.



</pre>

    